<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>404</title>
</head>
<style>
    body{
        background-color: #c3ce84a6;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Abel', sans-serif;
    }
</style>
<body>
    <p style="font-size:70px; margin-top: 8%;">404</p>
    <p style="font-size: 25px;" id="text">Welcome to the backrooms</p>
</body>

</html>